{% extends 'base.html.twig' %}

{% block body %}
    <h1>CrmActividad list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Googleid</th>
                <th>Direccion</th>
                <th>Fecharegistro</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Fechacancelacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crmActividad in crmActividads %}
            <tr>
                <td><a href="{{ path('admin_crmactivity_show', { 'id': crmActividad.id }) }}">{{ crmActividad.id }}</a></td>
                <td>{{ crmActividad.nombre }}</td>
                <td>{{ crmActividad.descripcion }}</td>
                <td>{{ crmActividad.googleId }}</td>
                <td>{{ crmActividad.direccion }}</td>
                <td>{% if crmActividad.fechaRegistro %}{{ crmActividad.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if crmActividad.fechaInicio %}{{ crmActividad.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if crmActividad.fechaFin %}{{ crmActividad.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if crmActividad.fechaCancelacion %}{{ crmActividad.fechaCancelacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_crmactivity_show', { 'id': crmActividad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_crmactivity_edit', { 'id': crmActividad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_crmactivity_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
