<a href="{{path('admin_tasks_index')}}" class="leftnava">
	<li class="leftnav left {% if menuTasksA is defined %}active {% endif %}">
		{{menuTareas}}
		<span class="pull-right right">
			<i class="{% if menuTasksA is defined %}fa fa-arrow-right {% endif %}"></i>
		</span>
	</li>
</a>
<a href="{{path('admin_calls_index')}}" class="leftnava">
	<li class="leftnav left {% if menuCallsA is defined %}active {% endif %}">
		{{menuLlamadas}}
		<span class="pull-right right">
			<i class="{% if menuCallsA is defined %}fa fa-arrow-right {% endif %}"></i>
		<span>
	</li>
</a>
<a href="{{path('admin_meetings_index')}}" class="leftnava">
	<li class="leftnav left {% if menuReunionesA is defined %}active {% endif %}">
		{{menuReuniones}}
		<span class="pull-right right">
			<i class="{% if menuReunionesA is defined %}fa fa-arrow-right {% endif %}"></i>
		</span>
	</li>
</a>