{% extends ':layout:layouterp.html.twig' %}
{% block title -%}<title>{{tituloCampaniaReg}}</title>{% endblock %}
{# {% block navegacion %}
    {% include ':crmcampaniaReg:menu_actividades.html.twig' %}
{% endblock %} #}
{% block customcss %}
    <link rel="stylesheet" href="{{ asset('Resources/customscss/salestage.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/slider/css/bootstrap-slider.min.css') }}">
    <style type="text/css">
        .errorform{
            border: 1px solid #F00 !important;
        }
    </style>
{% endblock %}
{% block descripcion %}
     <div class="col-md-5">
          <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">{{encabezadoCampaniaReg}}</p>
          <p class="robo" style="font-weight: 300; font-size: 14px; ">{{descripcionCampaniaReg}}</p>
          <p id="cancelLabel" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{cancelLabel}}</p>
          <p id="cancelButtonText" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{cancelButtonText}}</p>
          <p id="confirmButtonText" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{confirmButtonText}}</p>
          <p id="alternateconfirmButtonText" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{alternateconfirmButtonText}}</p>
          <p id="taskNoEdit" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{taskNoEdit}}</p>
     </div>
{% endblock %}
{% block acciones %}
     <div class="col-md-7 text-right panel-body">
          <button data-loading-text="Loading..." autocomplete="off" class="btnAddPage btn btn-sm btn-primary btn-flat">{{add}}</button>
          <a id="btnCancelTop" class="hidden btn btn-sm btn-default">{{cancel}}</a>
          <button id="btnSaveTop" class="hidden btn btn-sm btn-primary">{{save}}</button>
          <button class="hidden btnDelete btn btn-sm btn-danger btn-flat">{{delete}}</button>
          <button class="hidden btnShow btn btn-sm btn-success btn-flat">{{show}}</button>
          <button class="hidden btnAction btn btn-sm btn-default btn-flat">{{action}}</button>
     </div>
{% endblock acciones %}
{% block contenido %}
    <div class="row">
        {% include ':crmcampania:new.html.twig' %}
        <div class="clearfix"></div>
        <div class="col-md-12 col-xs-12">
            <table id="tasksList" class="mdl-data-table dataTable" width="100%" cellspacing="0" style="text-align:left;">
                <thead>
                    <tr role="row">
                        <th style="text-align:left;width: 20px;" colspan="1" rowspan="1"><input class="chkItemAll" type="checkbox" name=""></th>
                        <th aria-label="Name: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="sortRecords mdl-data-table__cell--non-numeric sorting">{{nameCampaniaReg}}</th>
                        <th aria-label="Priority: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="sortRecords mdl-data-table__cell--non-numeric sorting">{{tipoCampaniaReg}}</th>
                        <th aria-label="dateStart: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="sortRecords mdl-data-table__cell--non-numeric sorting">{{estadoCampaniaReg}}</th>
                        <th aria-label="dateCancel: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="sortRecords mdl-data-table__cell--non-numeric sorting">{{fechaRegistroCampaniaReg}}</th>
                    </tr>
                </thead>      
             </table>
        </div>
    </div>
{% endblock %}
{% block js_extend %}
    <script type="text/javascript" src="{{ asset('Resources/validations/validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/persist/campaigns/campaigns.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/animations/campaigns/campaigns.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bootstrap/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bootstrap/js/collapse.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bootstrap/js/transition.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bootstrap/js/datetime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/fullcalendar300/fullcalendar.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('Resources/bootstrap/css/datetime.min.css') }}" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('.noCal').removeClass('hidden');
            $('#estado').val(2).trigger('change');
            
            $("#tipoActividades").val(2).trigger("change");
            /*/////Definición datatable*/
            var table = $('#tasksList').DataTable({
                dom:'ftp',
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": '{{path('admin_campaign_data')}}',
                    "type": 'GET'
                },
                "columns": [
                    { "data": "chk" },
                    { "data": "name" },
                    { "data": "type" },
                    { "data": "status" },
                    { "data": "dateReg" },
                ],
                "order":[1,'desc'],
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                "language": {
                    "info": "{{dtInfo}} _PAGE_ de _PAGES_",
                    "infoEmpty": "{{dtInfoEmpty}}",
                    "emptyTable": "{{dtEmptyTable}}",
                    "paginate": { 
                        "next": "{{dtNext}}",
                        "previous": "{{dtPrev}}"
                    },
                    "processing": "{{dtProcessing}}",
                    "search": "{{dtSearch}}",
                    "lengthMenu": "{{dtLengthMenu}} _MENU_ registros"
                }
            });
            /*//Buscar hasta que se presione enter*/
            $('#providersList_filter input').unbind();
            $('#providersList_filter input').bind('keyup', function(e) {
                if(e.keyCode == 13) {
                    table.search( this.value ).draw();
                    $('.chkItemAll').prop({'checked': false});
                }
            });
            /*/////Fin definición datatable*/
            $('#tipoCampania').select2();
            $('#estadoCampania').select2();
            $('.firstResponsable').select2();
            $('.dpbTiempoRecordatorio').select2();
            $('.dpbPriority').select2();
            $('#datetimepicker1').datetimepicker({
                format: 'Y/MM/DD HH:mm',
                allowInputToggle:true,
                ignoreReadonly:true,
                /*// minDate: Date(),*/
            });
            $('#datetimepicker2').datetimepicker({
                format: 'Y/MM/DD HH:mm',
                allowInputToggle: true,
                ignoreReadonly:true,
                useCurrent: false /*//Important! See issue #1075*/
            });
            $("#datetimepicker1").on("dp.change", function (e) {
                   $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
             $('#responsableCampania').select2(/*{
                 ajax: {
                        url: Routing.generate('busqueda_cuenta_select_info'),
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                          return {
                            q: params.term, 
                            page: params.page
                          };
                        },
                        processResults: function (data, params) {
                            var select2Data = $.map(data.data, function (obj) {
                                obj.id = obj.id;
                                obj.text = obj.nombre;

                                return obj;
                            });

                            return {
                                results: select2Data
                                
                            };
                        },
                        cache: true
                      },
                      escapeMarkup: function (markup) { return markup; },
                      minimumInputLength: 1,
                      templateResult: formatRepo,
                     // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
                    }*/);

        });
    function formatRepo (data) {
                if(data.nombre){
                    /*// console.log('sdcsda');*/
                    var markup = "<div class='select2-result-repository clearfix'>" +
                                 "<div class='select2-result-repository__meta'>" +
                                 "<div class='select2-result-repository__title'>" + data.nombre+"</div>" +
                                 "</div></div>";
                } else {
                    var markup = "";
                }
                return markup;
            }
            function formatRepoSelection (data) {
                if(data.nombre){
                    /*// console.log('a');*/
                    return data.nombre;
                } else {
                    return ""; 
                }    
            }
    </script>
{% endblock %}
