<div class="container">
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
		<a href="">
                <img src="{{asset('Resources/src/img/icons/1.png')}}" style="width:100%;">
            </a>
  	</div>
  	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/2.png')}}" style="width:100%;">
              </a>
  	</div>
  	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/3.png')}}" style="width:100%;">
              </a>
  	</div>
  	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
		<a href="">
                <img src="{{asset('Resources/src/img/icons/4.png')}}" style="width:100%;">
            </a>
  	</div>
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/5.png')}}" style="width:100%;">
              </a>
  	</div>
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/6.png')}}" style="width:100%;">
              </a>
  	</div>
  	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
		<a href="">
                <img src="{{asset('Resources/src/img/icons/7.png')}}" style="width:100%;">
            </a>
  	</div>
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/1.png')}}" style="width:100%;">
              </a>
  	</div>
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/2.png')}}" style="width:100%;">
              </a>
  	</div>
  	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
		<a href="">
                <img src="{{asset('Resources/src/img/icons/3.png')}}" style="width:100%;">
            </a>
  	</div>
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/4.png')}}" style="width:100%;">
              </a>
  	</div>
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
  		<a href="">
                  <img src="{{asset('Resources/src/img/icons/5.png')}}" style="width:100%;">
              </a>
  	</div>
</div>