<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <p class="textoBienvenida">{{textoBienvenida}}</p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-offset-4 col-md-4">                                                    
            <label class="languageWizardLabel control-label">{{languageWizard}}</label>
            <div id="languageWizard">
                <select id="language" style="width:100%;" type="text" name="language" class="idioma languageSelect input-sm form-control validateSelect">
                    <option value="1">{{englishLanguageWizard}}</option>
                    <option value="2">{{spanishLanguageWizard}}</option>
                </select>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline" style="text-align: center;">
                <li class="start-wizard"><button id="btnWelcome" type="button" class="btnWelcome btn btn-success btn-sm next-step">{{btnWelcome}}</button></li>
            </ul>
        </div>
    </div>
</div>
