{% extends ':layout:layouterp.html.twig' %}

{% block title -%}<title>{{tituloTipoCuenta}}</title>{% endblock %}

{% block customcss %}
    
{% endblock %}

{% block descripcion %}
    <div class="col-md-5">

          
          {# <p id="cancelLabel" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{cancelLabel}}</p> #}
          <p id="removeLabel" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{removeLabel}}</p>
          <p id="cancelButtonText" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{cancelButtonText}}</p>
          <p id="confirmButtonText" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{confirmButtonText}}</p>
          <p id="alternateconfirmButtonText" class="robo hidden" style="font-weight: 300; font-size: 14px; ">{{alternateconfirmButtonText}}</p>

        <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">{{encabezadoTipoCuenta | capitalize}}</p>
        <p class="robo" style="font-weight: 300; font-size: 14px; ">{{descripcionTipoCuenta}}</p>
    </div>

{% endblock %}

{% block acciones %}
    <div class="col-md-7 text-right panel-body">

        <button data-loading-text="Loading..." autocomplete="off" class="btnAdd btn btn-sm btn-primary btn-flat">{{add}}</button>
          <button class="hidden btnDelete btn btn-sm btn-danger btn-flat">{{delete}}</button>
          <button class="hidden btnShow btn btn-sm btn-success btn-flat">{{show}}</button>
          <button class="hidden btnAction btn btn-sm btn-default btn-flat">{{action}}</button>

    </div>
{% endblock acciones %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div id="pnAdd" class="panel panel-default" style="display:none;">
                <div class="panel-heading"><div class="hidden pnHeadingLabelAdd">{{pnHeadingLabelAdd}}</div><div class="hidden pnHeadingLabelEdit">{{pnHeadingLabelEdit}}</div></div>
                
                <div class="panel-body">
                        <input id="txtId" type="hidden" name="" class="input-sm form-control">
                        <div class="col-md-6 col-xs-12">
                            <label>{{nameTipoCuenta}}</label>
                            <input id="txtName" type="text" name="txtName" class="input-sm form-control validateInput">
                        </div>
                        <div class="col-md-6 pull-right text-right" style="margin-top:20px;">
                            <button id="btnSave" class="btn btn-sm btn-primary">{{save}}</button>
                            <button id="btnCancel" class="btn btn-sm btn-default">{{cancel}}</button>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-xs-12">
            <table id="accountTypesList" class="mdl-data-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 20px; padding-left: 8px;"><input type="checkbox" name="checktodos" onclick = "seleccionarTodo();"></th> 
                        <th style="text-align: left">Name</th>                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_extend %}
    <script type="text/javascript" src="{{ asset('Resources/validations/validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/persist/accounttype/accounttype.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('Resources/animations/funciones.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('Resources/animations/accounttype/showformsaccounttype.js') }}"></script> 
    <script type="text/javascript">
        $(document).ready(function() {
            /////Definición datatable
            var table = $('#accountTypesList').DataTable({
                dom:'ftp',
                "processing": false,
                "serverSide": true,
                "ajax": {
                        "url": Routing.generate('admin_account_types_data'),
                        "type": 'GET'
                },
                "columns": [
                        { "data": "check" },
                        { "data": "name" }
                ],
                "order":[1,'asc'],
                "columnDefs": [
                        { "orderable": false, "targets": 0 }
                ],
                "language": {
                        "info": "{{dtInfo}} _PAGE_ de _PAGES_",
                        "infoEmpty": "{{dtInfoEmpty}}",
                        "zeroRecords": "{{dtZeroRecords}}",
                        "emptyTable": "{{dtEmptyTable}}",
                        "paginate": { 
                            "next": "{{dtNext}}",
                            "previous": "{{dtPrev}}"
                        },
                        "processing": "{{dtProcessing}}",
                        "search": "{{dtSearch}}",
                        "lengthMenu": "{{dtLengthMenu}} _MENU_ registros"
                    }
            });
            /////Fin definición datatable 
        });
    </script>
{% endblock %}
